<!doctype html>

<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <title>Smart Album</title>

     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/smartalbum.css" rel="stylesheet"></link>
	<link href="css/lightgallery.css" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="css/ripples.min.css">
</head>

<body>
	
	<div class = "side-menu" background = "images/background.png" id="menu">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class = "row">
			<div class = "col-xs-12">
				<div class="list-group">
					<div class = "list-group-item">
						<div class = "row-picture">
							<img class = "circle" src="http://lorempixel.com/56/56/people" alt="icon">
						</div>
						<div class = "row-content">
							<h4 style="color: #fff">Chad Bettencourt</h4>
							<p style=" color: #fff">
								chadbet@gmail.com
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container homescreen-header">
		<div class="row">
			<div align="left" class="col-xs-4">
				<a data-toggle="modal" data-target = "#filterModal" class = "btn-default">
					<i class="material-icons" style = "color: #fff; background-color: #000">search</i>
				</a>
			     <!-- Filter Dropdown button with checkboxes -->
				<!--div class="button-group">
				<div align="left" class="dropdown">
				   <button class="btn btn-default btn-lg
				   dropdown-toggle topPadding" type="button"
				   data-toggle="dropdown">Filter<span
				   class="caret"></span></button>
				   <ul class="dropdown-menu">
				      
				      {{#each images}}
				         {{#each tags}}
				      <li><a href="#" class="small"
				      data-value="{{this}}"><input
				      type="checkbox">&nbsp;{{this}}</a></li>
				         {{/each}}
                                      {{/each}}
				      <li><a href="#" class="small"
				      data-value="laptop"><input
				      type="checkbox">&nbsp;laptop</a></li>
				      <li><a href="#" class="small"
				      data-value="Friend: Chad"><input
				      type="checkbox">&nbsp;Friend: Chad</a></li>
				      <li><a href="#" class="small"
				      data-value="Friend: John"><input
				      type="checkbox">&nbsp;Friend: John</a></li>
				   </ul>
				</div>
			     </div-->
			     

			</div>
			<div class="col-xs-4">
				<h2 align="center">Photos</h2>
			</div>
			<div align="right" class="col-xs-4">
				<a data-toggle="modal" data-target = "#shareModal" class = "btn-default">
					<i class="material-icons" style = "color: #fff; background-color: #000">share</i>
				</a>
			</div>
		</div>
	</div>	
	

	<!--<div class="container">
		<div class="row">
			{{#each images}}
			<div class="col-xs-4 topPadding">
				<img src={{imageURL}} class="img-responsive">
			</div>
			{{/each}}
	    </div>
	 </div>-->
	 <div class="container" id="homescreen-container">

	 <div class="container">
	 <div class="row" id="lightgallery">
	 	{{#each images}}
	 	<!--TODO: Make the caption for the tags look nicer-->
  		<a href={{imageURL}} data-sub-html={{tags}}>
  			<div class="col-xs-4 topPadding imagesToFilter"
			data-type="{{tags}}">
      		<img src={{imageURL}} class="img-responsive">
      		</div>
  		</a>
	  	
  		{{/each}}
	</div>
	</div>

	
	<br>
	<div class="container" id="bottomButton">
		<div class = "row">
			<div class = "col-xs-6">
				<a class="btn btn-default btn-fab test"><i class="material-icons">keyboard_voice</i>
					<span onclick="openNav()">Open</span>
				</a>
			</div>

			<div class = "col-xs-6">
				<a href="upload" class="btn btn-default btn-fab" style = "float: right;"><i class="material-icons">add</i></a>
			</div>
			
		</div>
	</div>

	<!-- Filter Dropdown -->


	<!-- Filter Modal -->
	<div id="filterModal" class="modal fade">
	   <div class="modal-content">
	      <div class="modal-body">
	      	 <p>Shows images at least one of the selected tags!</p>
		 {{#each uniqueTags}}
		 <!-- filtering indiviual tag elements need logic work -->
	         <div class="checkbox">
		    <label>
		    <input type="checkbox" value="{{this}}"
		    data-type="{{this}}">{{this}}</label>
		 </div>
		 {{/each}}
	      </div>
	      <!--div align="center" class="modal-footer">
	         <input type="submit" class="btn btn-default btn-block"
		 value="Share" data-dismiss="modal"></input>
	      </div-->
	   </div>	
	</div>  


	<!-- Share Modal -->
	<div class="modal" id="shareModal">
  		<div class="modal-dialog">
    		<div class="modal-content" style="background-color:#2391d3; color: #fff">
      		<div class="modal-header">
        		<button type="button" class="close" style="color: #fff; opacity: 1; font-weight: 400" data-dismiss="modal" aria-hidden="true">x</button>
        		<h3 class="modal-title">Share</h3>
      		</div>
      		<div class="modal-body">
        		<form class = "form-horizontal">
        			<fieldset>
        				<div class = "form-group" style="margin-top: 0;">
        					<div class = "col-xs-12">
        						<input type="Email" class = "form-control" placeholder="Email" name="Email" style="color: #fff">
        					</div>
        				</div>
        				<div class = "form-group" style="margin-top: 0;">
        					<div class = "col-xs-12">
        						<input type="Password" class = "form-control" placeholder="Password" name="Password" style="color: #fff">
        					</div>
        				</div>
        			</fieldset>
        		</form>
      		</div>
      		<div class="modal-footer">
        		<div class = "container confirmShare-btn">
					<a data-dismiss="modal" float = "right">
						<span class="glyphicon glyphicon-chevron-right" style="color: #fff" aria-hidden="true"></span>
					</a>
			</div>
      		</div>
    	</div>
  </div>
</div>	
	

	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script>
		function openNav() {
			document.getElementById("menu").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("menu").style.width = "0";
		}
	</script>
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript" src = "js/bootstrap-material-design.js"></script>
	<script src="js/lightgallery.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
	</script>
	<script src="js/filterHelper.js"></script>

	</body>

</html>
