<!doctype html>

<html>
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='142243960-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <title>Smart Album</title>

     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/smartalbum.css" rel="stylesheet"></link>
	<link href="css/lightgallery.css" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
  	<link rel="stylesheet" type="text/css" href="css/ripples.min.css">
  	<link rel="stylesheet" type="text/css" href="css/lightbox.min.css">

</head>

<body class="homescreen-body" id = "bg">
	
	<div class = "side-menu" style="background-color: #fff" id="menu">
		<div class = "row">
			<div class = "col-xs-10" style="padding: 0;">
				<div class="list-group">
					<div class = "list-group-item">
						<div class = "row-picture">
							<img class = "circle" src="http://lorempixel.com/56/56/people" alt="icon">
						</div>
						<div class = "row-content">
							<h4 style="color: #000;">Chad Bettencourt</h4>
							<p style=" color: #000;">
								chadbet@gmail.com
							</p>
						</div>
					</div>
				</div>
			</div>
							<div class = "col-xs-1">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				</div>
		</div>
		<div class = 'tags'>
		<article class="block">
            <h5>Show images with at least one of the tags.<br>Enter tags below.<br>Example: laptop, coffee, john </h5>
        </article>
        <article class="block" style="height: 400px;">
            
		<div id="example1"></div>
        </article>			
		</div>
		<!-- if redesign move voice button to filter menu -->
                {{#if redesign}}
		   <a class="btn btn-default btn-fab" id="voiceBtnB" style="background-color: #fff;" data-toggle="modal"
		      data-target="#voiceModal"><i class="material-icons">keyboard_voice</i>
		   </a>
	        {{/if}}
	</div>

	<div class="container">
		<div class="row homescreen-header" style="z-index: 1; position: fixed;" >
			<div align="left" class="col-xs-4" id="homescreen-header-btn">
			<span onclick="openNav()">
				<a class = "btn-default">
					<i class="material-icons" style = "color: #000; background-color: #fff">search</i>
				</a>
				</span>
			     <!-- Filter Dropdown button with checkboxes -->
				<!--div class="button-group">
				<div align="left" class="dropdown">
				   <button class="btn btn-default btn-lg
				   dropdown-toggle topPadding" type="button"
				   data-toggle="dropdown">Filter<span
				   class="caret"></span></button>
				   <ul class="dropdown-menu">
				      
				      {{#each images}}
				         {{#each tags}}
				      <li><a href="#" class="small"
				      data-value="{{this}}"><input
				      type="checkbox">&nbsp;{{this}}</a></li>
				         {{/each}}
                                      {{/each}}
				      <li><a href="#" class="small"
				      data-value="laptop"><input
				      type="checkbox">&nbsp;laptop</a></li>
				      <li><a href="#" class="small"
				      data-value="Friend: Chad"><input
				      type="checkbox">&nbsp;Friend: Chad</a></li>
				      <li><a href="#" class="small"
				      data-value="Friend: John"><input
				      type="checkbox">&nbsp;Friend: John</a></li>
				   </ul>
				</div>
			     </div-->
			     

			</div>
			<div class="col-xs-4">
				<h2 align="center">Photos</h2>
			</div>
			<!-- if redesign replace share button at top right with
			   upload button -->
                        {{#unless redesign}}
			<div align="right" class="col-xs-4" id="homescreen-header-btn">
				<a data-toggle="modal" data-target = "#shareModal" class = "btn-default shareBtn">
					<i class="material-icons" style = "color: #000; background-color: #fff">share</i>
				</a>
			</div>
  			{{/unless}}
                        {{#if redesign}}
                        <div align="right" class="col-xs-4" id="homescreen-header-btn">
				<!--a data-toggle="modal" data-target = "#shareModal" class = "btn-default" id="shareBtn">
					<i class="material-icons" style = "color: #000; background-color: #fff">share</i>
				</a-->
				<!--a href="upload" class="btn btn-default
				btn-fab"  style = "float: right;
				background-color: #fff;"><i
				class="material-icons">add</i></a-->
                                <a data-toggle="modal"
				data-target="#uploadModal" class="btn-default"><i
				class="material-icons" style="color: #000;
				background-color: #fff">add</i></a>
			</div>
                        {{/if}}
		</div>
	</div>	
	

	<!--<div class="container">
		<div class="row">
			{{#each images}}
			<div class="col-xs-4 topPadding"><a href="upload" class="btn btn-default btn-fab"  style = "float: right; background-color: #fff;"><i class="material-icons">add</i></a>

				<img src={{imageURL}} class="img-responsive">
			</div>
			{{/each}}
	    </div>
	 </div>-->

	 

	 <div class="container rainbow" style="margin-top: 45px;" id="pig">
	 </div>
	
	<br>	
      
	<div class="container" >
		<div class = "row" id="bottomButton">
		        {{#unless redesign}}
			<div class = "col-xs-6">
				<a class="btn btn-default btn-fab" id="voiceBtn" style="background-color: #fff;" data-toggle="modal"
						data-target="#voiceModal"><i class="material-icons">keyboard_voice</i>
					
				</a>
			</div>
                        
			<div class = "col-xs-6">
				<a data-toggle="modal" data-target = "#uploadModal" class="btn btn-default btn-fab"  style = "float: right; background-color: #fff;"><i class="material-icons">add</i></a>
			</div>
 	                {{/unless}}

                        {{#if redesign}}
                        <button type="button" class="btn-primary
			   btn-block btn-lg shareBtn" data-toggle="modal"
			   data-target="#shareModal" style="background-color:
#00F">Share these Photos!</button> 
                        {{/if}}
		</div>
	</div>

	<!-- Voice Modal -->
	
		
     <div id="voiceModal" class="modal fade">
	   <div class="modal-content" style="background-color:#2391d3; color: #fff">
	      <div class="modal-body">
	         <button type="button" class="close"
		 data-dismiss="modal">x</button>
	      	 <p>Press the Record button and then speak!</p>
		 <p>Ex: Add photos with tags Andrew and John.</p>
		 <p id="STToutput"></p>
	      </div>
	      <div align="center" class="modal-footer">
	         <button id="voiceRecordBtn" type="button" class="btn
		 btn-default confirmShare-btn">Record</button>
		 <button id="stopRecord" type="button" class="btn
		 btn-default">Stop</button>
	      </div>
	   </div>	
	</div> 

	

	<!-- Filter Modal -->
	<!--<div id="filterModal" class="modal fade">
	   <div class="modal-content">
	      <div class="modal-body">
	         <button type="button" class="close"
		 data-dismiss="modal">x</button>
	      	 <p>Shows images with at least one of the selected tags!</p>
		 {{#each uniqueTags}}
	         <div class="checkbox">
		    <label>
		    <input type="checkbox" value="{{this}}"
		    data-type="{{this}}">{{this}}</label>
		 </div>
		 {{/each}}
	      </div>
	      <div align="center" class="modal-footer">
	         <button type="button" class="btn btn-default"
		 data-dismiss="modal">Filter</input>
	      </div>
	   </div>	
	</div> --> 


	<!-- Share Modal -->
	<div class="modal" id="shareModal">
  		<div class="modal-dialog">
    		<div class="modal-content" style="background-color:#2391d3; color: #fff">
      		<div class="modal-header">
        		<button type="button" class="close" style="color: #fff; opacity: 1; font-weight: 400" data-dismiss="modal" aria-hidden="true">x</button>
        		<h3 class="modal-title">Share</h3>
      		</div>
      		<div class="modal-body">
        		<form class = "form-horizontal">
        			<fieldset>
        				<div class = "form-group" style="margin-top: 0;">
        					<div class = "col-xs-12">
        						<input id="email"
							type="Email" class =
							"form-control"
							placeholder="Email"
							name="Email" style="color: #fff">
        					</div>
        				</div>
        				<div class = "form-group" style="margin-top: 0;">
        					<div class = "col-xs-12">
        						<input id="subject"
							type="text" class =
							"form-control"
							placeholder="Subject"
							name="Subject" style="color: #fff">
        					</div>
        				</div>
					<div class = "form-group" style="margin-top: 0;">
        					<div class = "col-xs-12">
        						<input id="message"
							type="text" class =
							"form-control"
							placeholder="Message"
							name="Message" style="color: #fff">
        					</div>
        				</div>
        			</fieldset>
        		</form>
      		</div>
      		<div class="modal-footer">
        		<div>
                           <button id="applyShare" class="btn
			   btn-default">Apply</button>
			</div>
		        <div class = "container confirmShare-btn">
					<a href="#"
					id="confirmShare" float = "right">
						<span class="glyphicon glyphicon-chevron-right" style="color: #fff" aria-hidden="true"></span>
					</a>
			</div>
      		</div>
    	</div>
  </div>
</div>	
<!-- Upload Modal boiiiii -->
	<div class = "modal" id = "uploadModal">
		<div class="modal-dialog">
    		<div class="modal-content" style="background-color:#2391d3; color: #fff">
      			<div id="uploadHeader" class="modal-header">
        			<button type="button" class="close" style="color: #fff; opacity: 1; font-weight: 400" data-dismiss="modal" aria-hidden="true">x</button>
        		<h3 class="modal-title">Upload</h3>
        		<h5 class="modal-title">Tags:</h5>
      			</div>
      			<div class="modal-body">
      				<div class=" fileUpload">
      					<input type="file" name="Upload" placeholder="Choose a File" id="file-select" style="color: #fff;">
      				</div>
      			</div>
      			<div class = "modal-footer">
      				<button id="uploadCategorizeBtn" type="button" onclick="categorize()" class="btn btn-default btn-lg">Tag Photo!</button>
      			</div>
			</div>
		</div>
	</div>


	
	

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script>
		function openNav() {
			document.getElementById("menu").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("menu").style.width = "0";
		}
	</script>
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript" src = "js/bootstrap-material-design.js"></script>
	<script src="js/fileUpload.js"></script>
	<script src = "js/pig.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script type="text/javascript">
		var config = {
  			apiKey: "AIzaSyBD2069i9WB12fyMdxG0cjeOZNTupqo7dE",
  			authDomain: "smart-album.firebaseapp.com",
  			databaseURL: "https://smart-album.firebaseio.com",
  			storageBucket: "smart-album.appspot.com",
		};
		firebase.initializeApp(config);
		var database = firebase.database();
		//var images = firebase.database().ref('images');
	</script>

	<script src="js/lightgallery.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
	</script>
	<script src = "js/lightbox.js"></script>
	<script>
		lightbox.option( {
			'imageFadeDuration': 400,
			'positionFromTop': 200,
			'wrapAround': true
		})
	</script>
	<script src = "js/taggle.js"></script>
	<script type="text/javascript">
	
		taggle = new Taggle('example1', {
		});
	</script>
	<script src="js/filterHelper.js"></script>
	<script src="js/speech.1.0.0.js"></script>
	<script src="js/stt.js"></script>
	<script src="js/typed.js"></script>
	<script>
  	$(function(){
      	$("#STToutput").typed({
        	strings: ["First sentence.", "Second sentence."],
        	typeSpeed: 0
      	});
  	});
</script>
	<script src="js/shareHelper.js"></script>
	<script src="js/googleanalytics.js"></script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93263740-1', 'auto');
  ga('send', 'pageview');

</script> 
	</body>

</html>
